In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("./iris.csv")

In [10]:
df.head()

,Unnamed: 0,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
0,0,5.1,3.5,1.4,0.2,0,setosa
1,1,4.9,3.0,1.4,0.2,0,setosa
2,2,4.7,3.2,1.3,0.2,0,setosa
3,3,4.6,3.1,1.5,0.2,0,setosa
4,4,5.0,3.6,1.4,0.2,0,setosa

In [11]:
df.drop(["Unnamed: 0" , "target"],axis="columns", inplace = True)

In [14]:
df.rename(columns = {'target_names' : "flower"} , inplace = True)

In [15]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [17]:
y = df['flower']

In [18]:
X = df.drop(['flower'] , axis= "columns")

In [19]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [21]:
from sklearn.model_selection import train_test_split
from sklearn import svm

In [37]:
x_train , x_test , y_train , y_test = train_test_split(X , y ,test_size= 0.3)

In [38]:
model = svm.SVC(kernel = 'rbf' , C = 30 , gamma = 'auto')
model.fit(x_train , y_train)
model.score(x_test , y_test)

0.9333333333333333