In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
from sklearn.linear_model import LinearRegression

import joblib

In [78]:
DATA_FILE_PATH = r"./car_prices.csv"
df = pd.read_csv(DATA_FILE_PATH)

In [94]:
df.head()

  Car Model  Mileage  Sell Price($)  Age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5
3    BMW X5    22500          40000         2
4    BMW X5    46000          31500         4

In [79]:
lb = LabelEncoder()

In [80]:
car_model_dummies = lb.fit_transform(df['Car Model'])

In [81]:
car_model_dummies = car_model_dummies.reshape(-1,1)

In [82]:
ohe = OneHotEncoder()

In [83]:
car_model_dummies = pd.DataFrame(ohe.fit_transform(car_model_dummies).toarray()[:,:-1] , dtype = int , columns=['audi' , 'bmw'])

In [84]:
car_model_dummies.head()

   audi  bmw
0     0    1
1     0    1
2     0    1
3     0    1
4     0    1

In [85]:
X = df.drop(columns=['Car Model' , 'Sell Price($)'])
y = df['Sell Price($)']

In [86]:
X.head()

   Mileage  Age(yrs)
0    69000         6
1    35000         3
2    57000         5
3    22500         2
4    46000         4

In [87]:
y.head()

0    18000
1    34000
2    26100
3    40000
4    31500
Name: Sell Price($), dtype: int64

In [88]:
X = pd.concat([car_model_dummies,X] , axis = "columns")

In [89]:
X

    audi  bmw  Mileage  Age(yrs)
0      0    1    69000         6
1      0    1    35000         3
2      0    1    57000         5
3      0    1    22500         2
4      0    1    46000         4
5      1    0    59000         5
6      1    0    52000         5
7      1    0    72000         6
8      1    0    91000         8
9      0    0    67000         6
10     0    0    83000         7
11     0    0    79000         7
12     0    0    59000         5

In [90]:
reg = LinearRegression()

In [91]:
reg.fit(X.values , y.values)

LinearRegression()

In [92]:
x_pred = [
    [0,0,45000,4],
    [0,1,86000,7],
]

In [93]:
reg.predict(x_pred)

array([36991.31721061, 11080.74313219])

In [97]:
# Accuracy of the Model

reg.score(X.values,y.values)

0.9417050937281083

In [98]:
joblib.dump(reg , r"car_prices_lr_model")

['car_prices_lr_model']

In [99]:
del reg

In [101]:
reg = joblib.load( r"car_prices_lr_model")

In [102]:
reg.predict(x_pred)

array([36991.31721061, 11080.74313219])